<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulgebra.getscar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_user"
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPassStep1"
            android:noHistory="true"
            android:parentActivityName=".Login_user" />
        <activity
            android:name=".forgotPasswordFinal"
            android:noHistory="true"
            android:parentActivityName=".ForgotPassStep1" />
        <activity
            android:name=".OtpRegistration"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:resumeWhilePausing="true" />
        <activity android:name=".BookDate" />
        <activity android:name=".Activate_Account" />
        <activity android:name=".AddNewCar" />
        <activity android:name=".Cameara" />
        <activity
            android:name=".BookingDetails"
            android:parentActivityName=".chekAct"
            android:resumeWhilePausing="true" />
        <activity android:name=".BookingHistory" />
        <activity
            android:name=".BrowseCars"
            android:parentActivityName=".Welcome"
            android:resumeWhilePausing="true" />
        <activity
            android:name=".CancelBooking"
            android:parentActivityName=".checkAct2" />
        <activity android:name=".ConfirmBooking" />
        <activity
            android:name=".SingleCarDetail"
            android:label="@string/title_activity_single_car_detail"
            android:parentActivityName=".chekAct" />
        <activity android:name=".SearchBooking" />
        <activity
            android:name=".Check_listview"
            android:parentActivityName=".Welcome" />
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleBookingDetails"
            android:parentActivityName=".Welcome" />
        <activity android:name=".ExtendBooking" />
        <activity android:name=".UpdateExtendBooking" />
        <activity
            android:name=".PaymentBooking"
            />
        <activity
            android:name=".SingleUserDetails"
            android:parentActivityName=".Welcome" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ulgebra.getscar.Welcome" />
        </activity>
        <activity
            android:name=".AllOffers"
            android:parentActivityName=".Welcome" />
        <activity
            android:name=".SingleOfferDetails"
            android:parentActivityName=".AllOffers" />

        <receiver android:name=".OtpRegistration$SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ShareApp"
            android:parentActivityName=".Welcome" />
        <activity
            android:name=".Developers"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Version"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NoConnection" />
        <activity android:name=".chekAct" />
        <activity android:name=".MyReferrals"
            android:parentActivityName=".SingleUserDetails"></activity>
        <activity android:name=".Ride_Overview"
            android:parentActivityName=".checkAct2"></activity>
        <activity android:name=".allMessages"
            android:parentActivityName=".Welcome"></activity>


    </application>

</manifest>