<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulgebra.luxscarr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_user"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPassStep1"
            android:parentActivityName=".Login_user" />
        <activity
            android:name=".forgotPasswordFinal"
            android:parentActivityName=".ForgotPassStep1" />
        <activity
            android:name=".OtpRegistration"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".BookDate" />
        <activity android:name=".Activate_Account" />
        <activity android:name=".File_Upload" />
        <activity android:name=".AddNewCar" />
        <activity android:name=".Cameara" />
        <activity
            android:name=".BookingDetails"
            android:parentActivityName=".BrowseCars" />
        <activity android:name=".BookingHistory" />
        <activity
            android:name=".BrowseCars"
            android:parentActivityName=".BookDate" />
        <activity
            android:name=".CancelBooking"
            android:parentActivityName=".SingleBookingDetails" />
        <activity android:name=".ConfirmBooking" />
        <activity
            android:name=".SingleCarDetail"
            android:label="@string/title_activity_single_car_detail" />
        <activity android:name=".AdminShownCars" />
        <activity android:name=".AdminHiddenCars" />
        <activity android:name=".AdminBookingHistory" />
        <activity android:name=".AdminMainScreen" />
        <activity
            android:name=".Cars"
            android:label="@string/title_activity_cars"
            android:parentActivityName=".AdminMainScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ulgebra.luxscarr.AdminMainScreen" />
        </activity>
        <activity android:name=".SearchBooking" />
        <activity
            android:name=".Check_listview"
            android:parentActivityName=".BookDate" />
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleBookingDetails"
            android:parentActivityName=".BookingHistory" />
        <activity android:name=".ExtendBooking" />
        <activity android:name=".UpdateExtendBooking" />
        <activity android:name=".PaymentBooking"
            android:parentActivityName=".BookingDetails"></activity>
    </application>

</manifest>